@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  @apply rounded-md py-3 px-10 text-white transition-all text-center text-sm flex items-center justify-center border border-rose-700 my-6 bg-rose-700 hover:bg-white hover:text-rose-700;
}
.head_text {
  @apply text-3xl font-normal leading-10 text-white md:text-4xl;
}
.desc {
  @apply text-xs text-white md:text-[1.1rem] leading-6 mt-4;
}
.contain {
  margin: auto;
}
.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.image {
  -webkit-animation: all 350ms ease;
  transition: all 350ms ease;
  margin-bottom: 12px;
}
.gallery .image:hover {
  filter: opacity(0.8);
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
}
